<app-nav-bar></app-nav-bar>
<div class="partier">
<div class="partier1">

    <app-headerdescriptionaccuil></app-headerdescriptionaccuil>
    <app-bienvenuedescription  ></app-bienvenuedescription>
    <app-description  ></app-description>
    <app-carouselmenuhumberger></app-carouselmenuhumberger>
    <app-bar-description ></app-bar-description>
    <app-description-pizza ></app-description-pizza>
    <app-carouselmenutacos></app-carouselmenutacos>
    <app-avisclient ></app-avisclient>
    <app-description-travaille ></app-description-travaille>
    <app-localisationmap  ></app-localisationmap>
</div>
</div>
<app-footer></app-footer>

