<div class="partier1" data-aos="fade-right"  data-aos-duration="1000">
    <div class="partier11">
        <img src="assets/images/cap.png" class="cap"  alt="" />
       
    </div>
    <div class="partier12">
        <h2>NOTHING BRINGS
             PEOPLE TOGETHER LIKE
              A GOOD BURGER</h2>
              <p>Le tout est soigneusement présenté dans
                 un pain brioché moelleux,
                  ajoutant une touche de douceur
                et de légèreté à cette expérience gastronomique. <br>

                Préparez-vous à régaler vos papilles
                 avec notre Burger Royal au Bœuf Angus. Commandez maintenant et découvrez 
                 la quintessence du burger gourmet </p>
                 <button (click)="navigation()" class="btn btn-danger">VIEW FULL MENU</button>
                <div class="icons">
                    <img class="logoIcons" src="assets/images/bergericons-transformed.png"  />
                    <img class="logoIcons" src="assets/images/friesIcons-transformed.png" />
                    <img class="logoIcons"src="assets/images/chickenIcons-removebg-preview.png" />
                    <img class="logoIcons" src="assets/images/saladsIcons-transformed.png" />
                </div>
    </div>
    

</div>
