<div class="body">
    <div class="partier1">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="partier11">
                    <div class="image" style="">
                        <img src="../assets/images/profil1.jpeg" >
                    </div>
                    
                    
                    <p >sfbghsbf sfgsigfisgf fhsugfsfbushf
                        shfjshfshdf shfssfdsjb sdsfdh
                        sjfjksdbf snfkjsdbfkb kjsdbfhksbdf 
                        jsfkjbdfjksbdkfb kjsdbfhskdb sdjbfkjsbfk 
                        ii,knsdfnlkigy sdjfjsdn lsdnfjlsd 
                    </p>
                    <div class="stars">
               
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                      </div>
                    <h1>BY sfgshbkfh</h1>
                

                </div>
             
      
            </ng-template>
            <ng-template carouselSlide>
                <div class="partier11">
                    <div class="image" style="">
                        <img src="../assets/images/profile5.png" >
                    </div>
                    <p >sfbghsbf sfgsigfisgf fhsugfsfbushf
                        shfjshfshdf shfssfdsjb sdsfdh
                        sjfjksdbf snfkjsdbfkb kjsdbfhksbdf 
                        jsfkjbdfjksbdkfb kjsdbfhskdb sdjbfkjsbfk 
                        ii,knsdfnlkigy sdjfjsdn lsdnfjlsd 
                    </p>
                    <div class="stars">
               
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                      </div>
                    <h1>BY sfgshbkfh</h1>
                

                </div>
             
      
            </ng-template>
            <ng-template carouselSlide>
                <div class="partier11">
                    <div class="image" style="">
                        <img src="../assets/images/profil2.jpeg" >
                    </div>
                    <p >sfbghsbf sfgsigfisgf fhsugfsfbushf
                        shfjshfshdf shfssfdsjb sdsfdh
                        sjfjksdbf snfkjsdbfkb kjsdbfhksbdf 
                        jsfkjbdfjksbdkfb kjsdbfhskdb sdjbfkjsbfk 
                        ii,knsdfnlkigy sdjfjsdn lsdnfjlsd 
                    </p>
                    <div class="stars">
               
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                      </div>
                    <h1>BY sfgshbkfh</h1>
                

                </div>
             
      
            </ng-template>
            <ng-template carouselSlide>
                <div class="partier11">
                    <div class="image" style="">
                        <img src="../assets/images/profil3.jpeg" >
                    </div>
                    <p >sfbghsbf sfgsigfisgf fhsugfsfbushf
                        shfjshfshdf shfssfdsjb sdsfdh
                        sjfjksdbf snfkjsdbfkb kjsdbfhksbdf 
                        jsfkjbdfjksbdkfb kjsdbfhskdb sdjbfkjsbfk 
                        ii,knsdfnlkigy sdjfjsdn lsdnfjlsd 
                    </p>
                    <div class="stars">
               
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                      </div>
                    <h1>BY sfgshbkfh</h1>
                

                </div>
             
      
            </ng-template>
            <ng-template carouselSlide>
                <div class="partier11">
                    <div class="image" style="">
                        <img src="../assets/images/profile4.png" >
                    </div>
                    <p >sfbghsbf sfgsigfisgf fhsugfsfbushf
                        shfjshfshdf shfssfdsjb sdsfdh
                        sjfjksdbf snfkjsdbfkb kjsdbfhksbdf 
                        jsfkjbdfjksbdkfb kjsdbfhskdb sdjbfkjsbfk 
                        ii,knsdfnlkigy sdjfjsdn lsdnfjlsd 
                    </p>
                    <div class="stars">
               
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                        <img src="../assets/images/stars4.png" class="dimonsion-images" alt="">
                      </div>
                    <h1>BY sfgshbkfh</h1>
                

                </div>
             
      
            </ng-template>
        </owl-carousel-o>

    </div>


</div>
