<div class="partier">

    <a routerLink="/Menu/Tacos" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/nannicons.png" alt="">
            <h6>TACOS</h6>
        </div>
    </a>
    <a routerLink="/Menu/Burgers" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <h6>KAPSALON</h6>
        </div>
    </a>
    <a routerLink="/Menu/Burgers" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/burgericonss.png" alt="">
            <h6>BURGERS</h6>
        </div>
    </a>
    <a routerLink="/Menu/TexMex" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/texmex.png" alt="">
            <h6>TEX MEX</h6>
        </div>
    </a>

    <a routerLink="/Menu/Desserts" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <h6>DESSERTS</h6>
        </div>
    </a>
    <a routerLink="/Menu/CheeseNaan" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/nannicons.png" alt="">
            <h6>CHEESE NAAN</h6>
        </div>
    </a>
    <a routerLink="/Menu/CheeseNaan" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <h6>MENUS ENFANT</h6>
        </div>
    </a>
    <a routerLink="/Menu/BowlsSalades" class="button-77" role="button">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="../assets/images/saladiconss.png" alt="">
            <h6>BOWLS ET SALADES</h6>
        </div>
    </a>
</div>