<div class="partier" data-aos="flip-left" data-aos-duration="1000">
  <div class="imagebinvenue">
    <div class="background">
      <img src="assets/images/travaille.png" alt="">
    </div>

  </div>
  <div class="description">
    <h1>About Us</h1>
    <P>Découvrez une expérience culinaire incomparable où l'innovation
      , la qualité et le service exceptionnel se rencontrent.
      Chaque plat est une fusion de créativité et de saveurs exquises,
      élaboré par une équipe de chefs passionnés. Chez nous, l'excellence
      gastronomique est une promesse, offrant une expérience qui transcende
      les attentes. Rejoignez-nous pour une aventure gourmande inégalée,
      où chaque bouchée est un voyage vers la perfection</P>
  </div>


</div>