<div class="partier" data-aos="fade-right"  data-aos-duration="1000">
    <div class="imagebinvenue" >
        <div class="background">
            <img src="../assets/images/bienvenue.png" alt="">
        </div>
    
    </div>
    <div class="description">
    <h1> BIENVENUE CHEZ PIZZA A RESTAURANT</h1>
    <P>Plongez dans l'univers savoureux de Pizza à Restaurant,
         où l'art de la gastronomie italienne rencontre
          l'ambiance chaleureuse. Notre établissement vous
           accueille avec passion et vous invite à explorer 
           un menu riche en saveurs authentiques. Laissez-vous
            emporter par l'arôme alléchant de nos pizzas fraîchement 
            préparées et découvrez une expérience culinaire inoubliable.
             Bienvenue dans un lieu où la passion pour la bonne 
             cuisine rencontre l'hospitalité exceptionnelle. 
             Bienvenue chez Pizza à Restaurant, là où chaque bouchée
              raconte une histoire de délice et de convivialité</P>
    </div>


</div>