<!-- <div class="body">
<div class="partier1">

</div>
<div class="partier2">
    <div class="partier21">
        <div class="partier211" >
            <img src="../assets/images/hum3.png" alt="" class="imagehum3">
        </div>
        <div class="partier212">
            <img src="../assets/images/hum3.png" alt="" class="imagehum4">
        </div>
    </div>
   
    
<img src="../assets/images/pub6.png" alt="" class="imageprincipale"/>
<div>
    <div>
        <img src="../assets/images/felfel.png" alt="" class="felfel">
    </div>
    <div>
        <img src="../assets/images/tomat.png" alt="" class="tomat">
    </div>
</div>
</div>
</div> -->
<div class="body">
    <div class="partier1">
        <div class="partier11">
            <div class="partier111">
                <div class="partier1111">
                    <p class="p1"> Fastest Delivery</p>
                    <img src="../assets/images/diliv.png" alt="" class="imagediliv">
                </div>
            </div>
            <div class="partier112">
                <div class="partier1122">
                    <img src="../assets/images/letusicons.png" alt="" class="imageletus">
                </div>

            </div>
        </div>
        <div class="partier12">
            <h1><span style="color: orange;">Exciting</span> Treats,</h1>
            <h1> Available<span style="color: orange;"> Daili</span>.</h1>

        </div>
        <div class="partier13">
            <p class="p2">
                Le restaurant se distingue comme le précurseur de l'excellence gastronomique
                , offrant une expérience culinaire inégalée. Réputé pour sa créativité,
                ses saveurs exquises et son service impeccable, nous sommes indiscutablement
                leaders dans le monde de la restauration.</p>

        </div>
        <div class="partier14" style="width: 100%; display: flex; justify-content: end;margin-left: -18%;">
            <button class="alt" style="background-color: orange">Explore More <svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></button>
        </div>
        <div class="partier15">
            <img src="../assets/images/humhaider.png" alt="" class="humheader">
        </div>

    </div>
    <div class="partier2">
        <img src="../assets/images/pub10.png" alt="" class="imageprincipale">
    </div>

</div>