<div class="paron">
<div class="partier1">
    <div class="partier11">
        <img src="assets/images/icon2.png" width="100px" height="100px" alt="">
        <h2>RECETTES ORIGINALES</h2>
        <p>une symphonie de saveurs uniques
             pour éveiller vos papilles.
              Plongez dans l'originalité 
              culinaire et redéfinissez 
              votre expérience gastronomique.</p>

    </div>
    <div class="partier12">
        <img src="assets/images/icon3.png" width="100px" height="100px"  alt="">
        <h2>HEALTHY FOODS</h2>
        <p>une symphonie de saveurs uniques
             pour éveiller vos papilles.
              Plongez dans l'originalité 
              culinaire et redéfinissez 
              votre expérience gastronomique.</p>

    </div>
    <div class="partier13">
        <img class="img" src="assets/images/icon4.png" width="200px" height="100px" alt="">
        <h2>FASTEST DELIVERY</h2>
        <p>une symphonie de saveurs uniques
             pour éveiller vos papilles.
              Plongez dans l'originalité 
              culinaire et redéfinissez 
              votre expérience gastronomique.</p>

    </div>

</div>
</div>